%html
  
  %head  
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
    %link{:rel => 'stylesheet', :href => 'screen.css', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => 'js/jquery.js'}
    %script{:type => 'text/javascript', :src => 'js/layout.js'}
    
  %body  
    .input_queue
      %ul
        %li.active א
        %li ב
        %li ג
        %li ד
        %li ה
        %li ו
        %li ז
        %li ח
        %li ט
        %li י
        %li כ
        %li ך
        %li ל
        %li מ
        %li ם
        %li נ
        %li ן
        %li ס
        %li ע
        %li פ
        %li ף
        %li צ
        %li ץ
        %li ק
        %li ר
        %li ש
        %li ת        
        
    .hebrew_keyboard.keyboard
      %ul.top_line
        %li
          %em q
          %b /
        %li
          %em w
          %b '
        %li
          %em e
          %b ק
          %i куф
        %li
          %em r
          %b ר
          %i рейш
        %li.active
          %em t
          %b א
          %i алеф
        %li
          %em y
          %b ט
          %i тет
        %li
          %em u
          %b ו
          %i вав
        %li
          %em i
          %b ן
          %i нун суфит
        %li
          %em o
          %b ם
          %i мем суфит
        %li
          %em p
          %b פ
          %i пей
        %li
          %em [
          %b ]
        %li
          %em ]
          %b [
      %ul.middle_line
        %li
          %em a
          %b ש
          %i шин
        %li
          %em s
          %b ד
          %i далет
        %li
          %em d
          %b ג
          %i гимель
        %li.starter.left_starter
          %em f
          %b כ
          %i каф
        %li
          %em g
          %b ע
          %i аин
        %li
          %em h
          %b י
          %i йуд
        %li.starter.right_starter
          %em j
          %b ח
          %i хет
        %li
          %em k
          %b ל
          %i ламэд
        %li
          %em l
          %b ך
          %i каф суфит
        %li
          %em ;
          %b ף
          %i пей суфит
        %li
          %b ,
          %i 
      %ul.bottom_line
        %li
          %em z
          %b ז
          %i зайн
        %li
          %em x
          %b ס
          %i самех
        %li
          %em c
          %b ב
          %i бет
        %li
          %em v
          %b ה
          %i hей
        %li
          %em b
          %b נ
          %i нун
        %li
          %em n
          %b מ
          %i мем
        %li
          %em m
          %b צ
          %i цади
        %li
          %em ,
          %b ת
          %i тав
        %li
          %em .
          %b ץ
          %i цади суфит
        %li
          %em /
          %b .
          %i